generated/*
!generated/placeholder
build/**
!build/placeholder
assets/**
!assets/README.md
KiCad/gerber/**
KiCad/rhythm-machine-backups/**
KiCad/#auto_saved_files#
KiCad/_autosave-rhythm-machine.kicad_sch
